<!DOCTYPE html>
<html>
<head>
  <title>Voting Tendencies Survey</title>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> HELLO WORLD </h1>
<strong> THIS IS A TEST LOL </strong>
<div id="counter"></div>

<script>
   var counter  = 0;
   setInterval(function() {
     $("#counter").text(counter++);
   }, 100);
</script>

</body>
</html>